@import "lib/metro/metro.less";

// Mixins

.block-color(@color) {
  header {
    border-color: @color;
    color: @color;
  }
  article {
    ul li:before, ol li:before {
      color: @color;
    }
  }
}

header.root {
  .clearfix();
  position: relative;
  z-index: 1;
  a.logo {
    float: left;
    display: block;
    width: 5.5rem;
    font-size: 1.875rem/1.1;
    padding: .625rem 1.225rem .625rem .625rem;
    color: black;
    text-align: right;
    box-sizing: border-box;
    color: @grayLight;
  }
  h1.name {
    font-size: 1.875rem/1.1;
    padding-left: 6.1rem;
    text-align: center;
    color: @grayLight;
    small {
      white-space: nowrap;
    }
  }
  .toggle-aside {
    display: block;
    position: absolute;
    top: 2rem;
    font-size: 2rem;
    padding: .625rem;
    color: @grayLight;
    cursor: pointer;
  }
}

aside.root {
  width: 300px;
  max-width: 300px;
  float: left;
  padding: .625rem 1.225rem .625rem .625rem;
  z-index: 1;
  display: none;
  background-color: white;
  color: @black;
  border-right: 1px solid @grayLighter;
  box-shadow: 0 2px 4px rgba(0,0,0,.35);
  .charm-closer {
    display: block;
    width: 2rem;
    height: 2rem;
    padding: 0;
    line-height: 1.4rem;
    vertical-align: middle;
    text-transform: uppercase;
    top: 0;
    right: 0;
    font-size: 1.4rem;
    &:hover, &:focus, &:active {
      color: @gray;
    }
  }
  header {
    &:extend(.alt-header);
    padding: 0rem 23px;
    line-height: 2rem;
    border-bottom: 1px solid @grayLighter;
  }
  .list {
    &:hover {
      background-color: white;
    }
    .list-content {
      padding-top: .625rem;
      padding-bottom: .625rem;
      .list-title {
        line-height: 1.5rem;
      }
      .list-subtitle {
        color: @grayLight;
      }
      a.delete {
        color: @darkRed;
      }
      &:hover, &:active, &:focus, &.active {
        background-color: @grayLighter;
      }
    }
  }
}
section.root {
  padding-left: 0;
  position: relative;
  .wrap {
    .internal-label, .external-label {
      color: @grayLight;
      position: absolute;
      width: 1rem;
      left: 0;
      display: none;
      &:before {
        content: attr(data-text);;
        .rotate(-90deg);
        display: block;
        position: absolute;
        width: 12rem;
        left: 0;
        margin-left: -1.5rem;
        transform-origin: 0 -100%;
        top: 17.8em;
        text-align: right;
        height: 1rem;
        line-height: 1rem;
        z-index: 2;
      }
    }
    .internal-label {
      top: 0;
      bottom: 50%;
    }
    .external-label {
      top: 50%;
      bottom: 0%;
    }
  }
  .internal, .external {
    position: relative;
    header {
      &:extend(.alt-header);
      text-align: center;
      color: white;
      padding: .625rem 0;
      border-bottom: 1px solid transparent;
      margin: 0 .625rem;
      span {
        font-weight: bold;
        font-size: 125%;
        margin-right: 2px;
        display: inline-block;
      }
    }
    .editor {
      display: none;
      height: 230px;
      margin: 1rem;
    }
    article {
      display: block;
      margin: 1rem;
      @import "part/article/list.less";
    }
    &.focused {
      .editor {
        display: block;
      }
      article {
        display: none;
      }
      header {
        border-bottom-width: 5px;
        margin-bottom: -4px;
      }
    }
  }
  .internal {
    &.positive {
      .block-color(@emerald);
    }
    &.negative {
      .block-color(@orange);
    }
  }
  .external {
    &.positive {
      .block-color(@lightOlive);
    }
    &.negative {
      .block-color(@amber);
    }
  }
}
footer.root {
  font-size: 0.6rem;
  text-align: right;
  color: @grayLight;
}

@media screen and (min-width: 640px) {
  section.root {
    .wrap {
      padding-top: 2rem;
    }
    .clearfix();
    .internal, .external {
      width: 50%;
      float: left;
      min-height: 300px;
      .editor {
        margin: 0.5rem 0 0 0;
        position: absolute;
        top: 47px;
        left: 1em;
        right: 1em;
        bottom: 0;
      }
      article {
        margin: 0.5rem 1rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  header.root {
    a.logo {
      width: 300px;
    }
    h1.name {
      padding-left: 300px;
    }
    .toggle-aside {
      display: none;
    }
  }
  aside.root {
    position: relative;
    display: block !important;
    box-shadow: none;
    border-right: none;
    width: 300px !important;
    left: 0 !important;
    .toggle-aside, .charm-closer {
      display: none;
    }
  }
  section.root {
    padding-left: 300px;
    margin-top: -3.1rem;
    padding-top: 3.1rem;
    height: 100vh;
    .wrap {
      left: 300px;
      position: absolute;
      top: 3.1rem;
      bottom: 0;
      right: 0;
      .internal-label, .external-label {
        display: block;
      }
    }
    .internal, .external {
      position: absolute;
      width: 50%;
      height: 50%;
    }
    .internal {
      &.positive {
        top: 0;
        left: 0;
      }
      &.negative {
        top: 0;
        left: 50%;
      }
    }
    .external {
      &.positive {
        top: 50%;
        left: 0;
      }
      &.negative {
        top: 50%;
        left: 50%;
      }
    }
  }
}

.button-group {
  width: 100%;
  display: table;
  & > .button {
    display: table-cell;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    &.import {
      position: relative;
      overflow: hidden;
      input {
        position: absolute;
        top: 0;
        left: -99999px;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
      }
    }
    &:hover, &:active, &:focus {
      z-index: 1;
    }
  }
}

.button.create-new {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.template {
  display: none;
  visibility: hidden;
}